@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,900;1,700;1,900&family=Roboto:wght@400;500;700;900&display=swap');


:root{
    --rosa-pink: #F59CBA;
    --rosa-pink_bg: #dd83a1;
    --rosa-claro: #F8BECB;
    --preto: #14090F;
    --branco: #f2f2f2;
    --texto: #4d474b;
    --azul: #9BD2E0;
    --amarelo: #FAF6B3;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--branco);
    color: var(--preto);
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 15rem;
    margin: 1rem 0;
}

.container{
    text-align: center;
}

.text{
    margin: 2rem 0;
    font-size: .9rem;
}

.button{
    background-color: var(--rosa-pink);
    text-decoration: none;
    color: var(--branco);
    padding: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
}

.ilustracao{
    width: 19rem;
    margin: 3rem 0;
}

.servicos{
    list-style: none;
    margin: 2rem 0;
}

.icons{
    width: 5rem;
}

.carousel-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials{
    background-color: #eae9e9;
    width: 100vw;
}

.testimonials-title{
    margin-top: 6rem;
}

.testimonials-text{
    margin: 1rem 0;
    color: var(--texto);
}

.testimonials-img{
    width: 9rem;
}

.testimonials-avaliacao{
    width: 5rem;
    margin-bottom: 1rem;
}

.testimonials-text{
    color: var(--texto)
}

.cta-consulta{
    background-color: var(--azul);
    color: var(--amarelo);
    width: 100vw;
    padding: 4rem 0 5rem 0;
}

.cta-text{
    color: var(--texto);
    margin-top: 1rem;
}

.carousel-container {
    max-width: 800px;
    margin: 3rem 0 1rem 0;
    overflow: hidden;
}

.carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel-item {
    width: 70%;
    flex-shrink: 0;
    text-align: center;
    padding: 20px;
    background-color: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
    margin: 0 1rem;
}

.carousel-item img {
    max-width: 100px;
    border-radius: 50%;
}

h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

p {
    font-size: 1rem;
}

/* SLIDE */ 

.slide-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    padding: 20px;
    text-align: center;
}

.slide img {
    width: 7rem;
    height: auto;
}

.slide-text{
    margin-bottom: 1.5rem;
}

.button {
    background-color: #f59cba;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.indicators {
    text-align: center;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.active {
    background-color: #f59cba;
}


@media (max-width: 768px) {
    .carousel {
        flex-direction: column;
    }
    .carousel-item {
        margin: 10px 0;
    }
}


